*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url("../img/Pig.png")0 20,auto;
}
body
{
    background-color: #646597;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: rgb(117, 57, 87);
}
canvas{
    border-radius: 5%;
    cursor: url("../img/lapiz.png") 0 20,auto;
}
footer{
    color: rgb(214, 148, 67);
}
button{
    color: rgb(161, 98, 16);
    background-color: rgb(49, 73, 33);
    padding: 10px;
    margin: 20px;
    cursor: url(../img/mer2.png), auto;
}
